<#import "parts/common.ftlh" as c>
<#include "parts/security.ftl">

<@c.page>
    <h2>Наши книги:</h2><br>
    <a href="/library" class="btn btn-success">Все книги</a>
    <a href="/library/notfree" class="btn btn-success">Книги на руках</a>
    <a href="/library/free" class="btn btn-success">Книги в наличии</a><br><br>
    <#if isAdmin>
        <a href="library/add" class="nav-link">Добавить книгу</a>
    </#if>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <#list books as book>
            <div class="col">

                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-body">

                        <#if book.filename??>
                            <img src="/img/${book.filename}" class="card-img-top" style="width: 150px">
                        </#if>
                        <h3> ${book.name}</h3>
                        <a href="/library/${book.id}" class="btn btn-success"">Подробнее о книге</a>
                    </div>
                </div>
            </div>
        <#else>
            Книг нет!
        </#list>
    </div>

</@c.page>

